html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

button {
    all: unset;
    cursor: pointer;
    border: 0;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    margin: 0;
    border: none;
    overflow: hidden;
    background: linear-gradient(to bottom right, rgb(135, 206, 250), rgb(84,172,244) 60%);
    font-weight: 400 !important;
}

h1 {
    font-size: 2rem;
}

.cloud {
    position: absolute;
    width: 148px;
    height: 128px;
    z-index: -2;
}
#cloud1 {
    top: 10vh;
    animation: moveCloud1 60s linear infinite, floatCloud 10s ease-in-out infinite;
    animation-delay: 0s;
}

#cloud2 {
    top: 25vh;
    left: -300px;
    animation: moveCloud2 80s linear infinite, floatCloud 10s ease-in-out infinite;
    animation-delay: 10s;
}
#cloud3 {
    top: 40vh;
    left: -300px;
    animation: moveCloud3 50s linear infinite, floatCloud 10s ease-in-out infinite;
    animation-delay: 0s;
}

@keyframes moveCloud1 {
    0% {
        left: -300px;
    }
    100% {
        left: 100vw;
    }
}

@keyframes moveCloud2 {
    0% {
        left: -300px;
    }
    100% {
        left: 100vw;
    }
}

@keyframes moveCloud3 {
    0% {
        left: -300px;
    }
    100% {
        left: 100vw;
    }
}

@keyframes floatCloud {
    0%,
    100% {
        transform: translateY(10px);
    }
    50% {
        transform: translateY(-15px);
    }
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    text-align: center;
    padding: 20px;
    position: relative;
    min-height: 100vh;
}

.logo {
    width: 250px;
    margin-bottom: 30px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: auto;
    z-index: 3;
}

.footer {
    width: 100%;
    display: block;
}


@font-face {
    font-family: 'MainFont';
    src: url(fontes/Jersey10-Regular.ttf);
}
.title{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: 'MainFont';
    margin-bottom: 5%;
}
#title1, #title2{
    margin: 0px;
    color: aliceblue;
    text-shadow:
            -2px -2px 0 black,
            2px -2px 0 black,
            -2px  2px 0 black,
            2px  2px 0 black;
    font-weight: 400 !important;
}

.title-ranking {
    color: white;
    margin-bottom: 20px;
    text-shadow:
            -2px -2px 0 black,
            2px -2px 0 black,
            -2px  2px 0 black,
            2px  2px 0 black;
    font-size: 50px;
}

.ranking-container {
    padding: 10px 20px;
    border-radius: 10px;
    color: black;
    font-size: 20px;
    min-width: 500px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ranking-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border: 3px solid #eee;
    padding: 12px 20px;
    margin-bottom: 10px;
    font-size: 25px;
    color: black;
}

.ranking-row:nth-child(odd) {
    background-color: #f9f9f9;
}

.ranking-row span {
    flex: 1;
    text-align: center;
}

.porcentagem {
    color: red;
    font-weight: bold;
}

.pontuacao {
    color: goldenrod;
    font-weight: bold;
}

@keyframes float {
    0% { transform: translateX(0); }
    100% { transform: translateX(150vw); }
}

.voltar-btn {
    padding: 8px 20px;
    background-color: white;
    color: black;
    border: 2px solid black;
    text-decoration: none;
    font-family: 'MainFont';
    font-size: 26px;
    box-shadow: none;
    border-radius: 0;
    transition: background-color 0.3s;
}

.voltar-btn:hover {
    background-color: #eee;
}




.painel-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    font-family: 'MainFont';
    color: white;
    justify-content: center;
}

.header {
    margin-bottom: 40px;
    text-align: center;
}

.salas-container {
    width: 80%;
    max-width: 800px;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 20px;
    margin-top: 40px;

}

.salas-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.salas-header h3 {
    margin: 0;
    font-size: 35px;
    color: white;
    text-shadow:
            -2px -2px 0 black,
            2px -2px 0 black,
            -2px  2px 0 black,
            2px  2px 0 black;
}


.board {
    width: 55vw;
    height: 40vw;
    max-height: 70vh;
    background-color: rgba(158, 213, 255, 0.37);
    display: flex;
    flex-direction: column;
    border-radius: 3%;

    overflow-y: auto;
    padding-right: 10px;
    box-sizing: border-box;
}
.position-rank {
    background-color: darkgoldenrod;
    width: 90%;
    min-height: 80px;
    margin-top: 20px;
    flex-shrink: 0;
    border-radius: 5px;
    margin-left: 20px;
}

.board::-webkit-scrollbar {
    width: 10px;
    margin-left: 5px;
}

.board::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    margin-left: 5px;
}

.board::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    border: 2px solid rgba(255, 255, 255, 0.1);
    margin-left: 5px;
}