<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Adicionar Sala</title>
  <link rel="stylesheet" href="adicionarSala.css" />
</head>
<body>
<div class="container">
  <img src="imagens/logo/logo.png" alt="TupiNet" class="logo" />

  <div class="formulario">
    <h2>Nova Sala</h2>
    <label for="nomeSala">Nome</label>
    <input type="text" id="nomeSala" placeholder="Digite o nome da sala" />

    <p style="font-size: 30px; margin: 20px auto;">Selecione o jogo</p>
    <div class="jogos">
      <img src="imagens/jogos/caca-palavras.png" alt="Jogo 1" class="jogo">
      <img src="imagens/jogos/memor.png" alt="Jogo 2" class="jogo">
      <img src="imagens/jogos/palavreca.png" alt="Jogo 3" class="jogo">
      <img src="imagens/jogos/super.png" alt="Jogo 4" class="jogo">
    </div>

    <button class="confirmar">Confirmar</button>
  </div>

  <!-- Elementos visuais -->
  <img src="imagens/nuvens/Nuvem1.png" class="cloud" id="cloud1">
  <img src="imagens/nuvens/Nuvem2.png" class="cloud" id="cloud2">
  <img src="imagens/nuvens/Nuvem3.png" class="cloud" id="cloud3">

  <footer>
    <img class="footer" src="imagens/footer/footer.png" alt="">
  </footer>
</div>
</body>
</html>
