<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <link rel="stylesheet" href="TupiNet.css">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TupiNet</title>
</head>
<body>
<!--cor mais leve (185,215,234) cor mais pesada (118,159,205) ou original (84,172,244)-->
<div class="container">
    <img class="logo" src="imagens/logo/logo.png" alt="">

    <div class="title">
        <h1 id="title1">Che ha'e / Eu sou...</h1>
    </div>

    <div class="choices">
        <a class="choiceButton">temimbo'e / Aluno</a>
        <a href="/login-professor">
            <input type="button" class="choiceButton" value="mbo'ehára / Professor">
        </a>
    </div>

    <footer>
        <img class="footer" src="imagens/footer/footer.png" alt="">
    </footer>

</div>
<img src="imagens/nuvens/Nuvem1.png" class="cloud" id="cloud1">
<img src="imagens/nuvens/Nuvem2.png" class="cloud" id="cloud2">
<img src="imagens/nuvens/Nuvem3.png" class="cloud" id="cloud3">

</body>
</html>