<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login - Professor</title>
    <link rel="stylesheet" href="loginProfessor.css" >
</head>
<body>
<div class="container">
    <img class="logo" src="imagens/logo/logo.png" alt="Logo TupiNet">

    <div class="title">
        <h1 id="title1">Login</h1>
    </div>

    <form class="login" th:action="@{/login}" method="post">
        <input type="text" name="username" placeholder="Digite o seu Email" class="emailText">
        <input type="password" name="password" placeholder="Digite a sua Senha" class="senhaText">
        <button type="submit" class="buttonConfirmar">Confirmar</button>
        <p th:if="${param.error}">E-mail ou senha inválidos</p>
    </form>

</div>

<img src="imagens/nuvens/Nuvem1.png" class="cloud" id="cloud1">
<img src="imagens/nuvens/Nuvem2.png" class="cloud" id="cloud2">
<img src="imagens/nuvens/Nuvem3.png" class="cloud" id="cloud3">

<footer>
    <img class="footer" src="imagens/footer/footer.png" alt="">
</footer>
</body>
</html>
