<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login - Professor</title>
    <link rel="stylesheet" href="TupiNet.css" >
</head>
<body>
<div class="container">
    <img class="logo" src="imagens/logo/logo.png" alt="Logo TupiNet">

    <div class="title">
        <h1 id="title1">Login</h1>
    </div>

    <form style="display: flex; flex-direction: column; align-items: center; width: 100%;">
        <input type="email" placeholder="Digite o seu Email" class="emailText">
        <input type="password" placeholder="Digite a sua Senha" class="senhaText">
        <a href="GerenciamentoSalas.html" class="buttonConfirmar">Confirmar</a>
    </form>
</div>

<img src="imagens/nuvens/Nuvem1.png" class="cloud" id="cloud1">
<img src="imagens/nuvens/Nuvem2.png" class="cloud" id="cloud2">
<img src="imagens/nuvens/Nuvem3.png" class="cloud" id="cloud3">

<footer>
    <img class="footer" src="imagens/footer/footer.png" alt="">
</footer>
</body>
</html>
