<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Palavreca - Fim de Jogo</title>
  <link rel="stylesheet" href="palavreca.css">
</head>
<body>

<div class="tela-palavra">
  <img src="imagens/logo/logo.png" alt="Logo TupiNet" class="logo">

  <h2 class="titulo-jogo">🏆 Palavreca - Fim de Jogo!</h2>

  <div class="box-completar">
    <p style="font-size: 30px;font-family: 'MainFont';">✅ Acertos: <strong th:text="${acertos}"></strong> de 10</p>
    <p style="font-size: 30px;font-family: 'MainFont';">⭐ Pontuação Total: <strong th:text="${score}"></strong> pontos</p>

    <div class="botao-container">
      <a href="/reiniciar">
        <button class="botao-enviar">Jogar Novamente</button>
      </a>
    </div>
  </div>
</div>

<img src="imagens/nuvens/Nuvem1.png" class="cloud" id="cloud1">
<img src="imagens/nuvens/Nuvem2.png" class="cloud" id="cloud2">
<img src="imagens/nuvens/Nuvem3.png" class="cloud" id="cloud3">

<footer>
  <img src="imagens/footer/footer.png" alt="Cenário" class="footer">
</footer>

</body>
</html>
