<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Ranking - TupiNet</title>
  <link rel="stylesheet" href="TupiNet.css">
</head>
<body>

<div class="painel-container">
  <img class="logo" src="imagens/logo/logo.png" alt="Logo TupiNet">

  <div class="salas-container">
    <div class="salas-header">
      <h3>Ranking - Sala X</h3>
    </div>
    <div class="ranking-container">
      <div class="ranking-row">
        <span>Amanda Bittencourt</span>
        <span>Jogo 1</span>
        <span class="porcentagem">100%</span>
        <span class="pontuacao">1350</span>
      </div>
      <div class="ranking-row">
        <span>Ana Luiza Cruz</span>
        <span>Jogo 1</span>
        <span class="porcentagem">100%</span>
        <span class="pontuacao">1300</span>
      </div>
      <div class="ranking-row">
        <span>Renato Portaluppi</span>
        <span>Jogo 1</span>
        <span class="porcentagem">100%</span>
        <span class="pontuacao">1280</span>
      </div>
      <div class="ranking-row">
        <span>Cristiano Ronaldo</span>
        <span>Jogo 1</span>
        <span class="porcentagem">100%</span>
        <span class="pontuacao">1270</span>
      </div>
      <div class="ranking-row">
        <span>Lionel Messi</span>
        <span>Jogo 1</span>
        <span class="porcentagem">80%</span>
        <span class="pontuacao">1120</span>
      </div>
      <div class="ranking-row">
        <span>Emanuelle Curry</span>
        <span>Jogo 1</span>
        <span class="porcentagem">80%</span>
        <span class="pontuacao">1100</span>
      </div>
      <div class="ranking-row">
        <span>Jessica Jesus Cris</span>
        <span>Jogo 1</span>
        <span class="porcentagem">70%</span>
        <span class="pontuacao">1090</span>
      </div>
      <div class="ranking-row">
        <span>Luiz Antonio Pereira</span>
        <span>Jogo 1</span>
        <span class="porcentagem">70%</span>
        <span class="pontuacao">1080</span>
      </div>
    </div>
  </div>
</div>

<!-- Nuvens -->
<img src="imagens/nuvens/Nuvem1.png" class="cloud" id="cloud1">
<img src="imagens/nuvens/Nuvem2.png" class="cloud" id="cloud2">
<img src="imagens/nuvens/Nuvem3.png" class="cloud" id="cloud3">

<!-- Rodapé -->
<footer>
  <img class="footer" src="imagens/footer/footer.png" alt="Rodapé TupiNet">
</footer>

</body>
</html>
